@import "tailwindcss";

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 25s linear infinite;
}

/* Optional: pause animation on hover */
.animate-scroll:hover {
  animation-play-state: paused;
}

@font-face {
  font-family: 'Eurostar';
  src: url('/fonts/eurostar.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kairos";
  src: url("/fonts/Kairos.ttf") format("truetype");
}

.font-Kairos {
  font-family: "Kairos", cursive;
}


@font-face {
  font-family: "Aeonik Fono";
  src: url("/fonts/Aeonik.ttf") format("truetype");
 
}

.font-aeonik {
  font-family: "Kairos", sans-serif;
}